{
    email lincoln@redlabsolutions.com.br
    acme_dns cloudflare {env.CLOUDFLARE_API_TOKEN}
}

code.redlabsolutions.com.br {
    bind {env.TAILSCALE_IP}
    reverse_proxy http://localhost:8443
}

obsidian.redlabsolutions.com.br {
    bind {env.TAILSCALE_IP}
    reverse_proxy localhost:3000
}
